{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-organize-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["^components/(.*)$", "^@shoelace-style/shoelace/dist/components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "es5",
  "endOfLine": "crlf",
  "bracketSpacing": true,
  "printWidth": 100
}
