:root {
  --font-family: sans-serif;

  --sl-z-index-toast: 1009;

  /* ----------------COLORS---------------------------- */
  /* ORANGE */
  --color-primary: #ff6100;
  --color-primary-medium: #f2dacc;
  --color-primary-light: #fff1e8;

  /* GREEN */
  --color-secondary: #00bd31;
  --color-secondary-light: #c4f4f0;

  /* BLUE */
  /* --color-ternary: #00c5b7;
  --color-ternary-light: #c4f4f0; */

  /* BLUE tecnical */
  --color-blue: #2e96f8;

  /* WHITE */
  --color-white: #f9f8f7;

  /* BLACK */
  --color-black: #333;
  --color-black-medium: #666666;
  --color-black-light: #b4b4b4;

  /* Mapping colors */
  /* --sl-color-primary-50: var(--color-primary-light);
  --sl-color-primary-100: var(--color-primary-light);
  --sl-color-primary-200: var(--color-primary-light);
  --sl-color-primary-300: var(--color-primary-light);
  --sl-color-primary-400: var(--color-primary-medium);
  --sl-color-primary-500: var(--color-primary-medium);
  --sl-color-primary-600: var(--color-primary-medium);
  --sl-color-primary-700: var(--color-primary-medium);
  --sl-color-primary-800: var(--color-primary);
  --sl-color-primary-900: var(--color-primary);
  --sl-color-primary-950: var(--color-primary); */

  /* ----------------BORDER-RADIUS------------------- */
  --border-radius-big: 24px;
  --border-radius-medium: 16px;
  --border-radius-small: 8px;
  --border-radius-circle: 999px;
}

html,
body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  height: 100%;
  overscroll-behavior-y: contain;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
